<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Lỗi - Shopme Admin', 'none')"></head>
<body>
<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		&nbsp;
		<div class="text-center">
			<img th:src="@{/images/403error.jpg}" style="width: 40%"/>
			<h2 style="font-size: 35px;margin: 0;text-align: center;">Oops..! </h2>
			&nbsp;
			<h3>Xin lỗi, truy cập bị từ chối</h3>
			<br><a th:href="@{/}">Click vào đây</a> để quay trở về trang chủ<br>
		</div>

		&nbsp;&nbsp;
		<div th:replace="fragments :: footer"></div>
		
</div>
</body>
</html>