<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('403 Forbidden - Shopme Admin', 'none')"></head>
<body>
<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		&nbsp;
		<div class="text-center">
			<img th:src="@{/images/403error.png}" style="width: 25%"/>
			<br>
			&nbsp;
			<h3 class="text-danger font-weight-bold">Sorry, you don't have permission to access on this page</h3>
			<br><a th:href="@{/}">Click here</a> to go to home page<br>
		</div>

		&nbsp;&nbsp;
		<div th:replace="fragments :: footer"></div>
		
</div>
</body>
</html>