*.icon-white {color: white}
*.icon-silver {color: silver}
*.icon-green {color: green}
*.icon-gray {color: gray}
*.icon-dark {color: black}
*.icon-red {color: red}

.container-fluid {
	padding: 0px;
}

/** Shop: Thumbnails **/
.shop__thumb {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 20px;
  background-color: white;
  text-align: center;
  -webkit-transition: border-color 0.1s, -webkit-box-shadow 0.1s;
       -o-transition: border-color 0.1s, box-shadow 0.1s;
          transition: border-color 0.1s, box-shadow 0.1s;
}
.shop__thumb:hover {
  border-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.07);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);
}
.hide {
  display: none;
}

.shop__thumb:hover > .hide {
  display: block;
  color: red;
}

.shop__thumb > a {
  color: #333333;
}
.shop__thumb > a:hover {
  text-decoration: none;
}
.shop-thumb__img {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.shop-thumb__title {
  font-weight: 600;
}

.shop-thumb__info{
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.shop-thumb__price {
  font-size: 18px;
}

.shop-thumb-img_discount {
  float: left;
}

.shop-thumb-price_old {
  float: right;
  color: #99a2aa;
  text-decoration: line-through;
}

.shop-price_old {
  color: #99a2aa;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding: 12px;
  text-decoration: line-through;
}

.shop-price_new{
  font-weight: 500;
  color: #cb1c22;
  margin-right: 5px;
  font-size: 32px;
  line-height: 40px;
}

.shop-thumb-price_new {
  font-size: 18px;
  float: left;
  color: white;
}

.card-grid{
  color: #495057;
  box-shadow: 0 0 3px 0 #dee2e6;
  border-radius: 6px;
}

.form-control,
.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
