<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	
	<title>Trang chủ - Shopme Admin</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container-fluid">
			<!-- thanh công cụ -->
		<div>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a class="navbar-brand" th:href="@{/}">
					<img th:src="@{/images/ShopmeAdminSmall.png}" />
				</a>
				
					<!-- responsive với màn hình -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="topNavbar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/users}">Tài khoản</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/categories}">Danh mục</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/brands}">Thương hiệu</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/products}">Sản phẩm</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/customers}">Khách hàng</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/shipping}">Giao hàng</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/orders}">Đơn đặt hàng</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/report}">Báo cáo</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/articles}">Bài viết</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/menus}">Menu</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/settings}">Cài đặt</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		&nbsp;
		<div>
			<h4>Quản lý tài khoản người dùng</h4>&nbsp;
			<a th:href="@{/users/new}">Tạo tài khoản</a>
			&nbsp;|&nbsp;
			<a th:href="@{/users/export/csv}">Xuất file CSV</a>
			&nbsp;|&nbsp;
			<a th:href="@{/users/export/excel}">Xuất file Excel</a>
			&nbsp;|&nbsp;
			<a href="">Xuất file PDF</a>
		</div>
		
		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]
		</div>
		
		<div th:if="${errorMessage != null}" class="alert alert-danger text-center">
			[[${errorMessage}]]
		</div>
		
		<div>
			<form th:action="@{/users/page/1}" class="form-inline m-2">
				Lọc theo :&nbsp;
				<input type="hidden" name="sortField" th:value="${sortField}">
				<input type="hidden" name="sortDir" th:value="${sortDir}">
				
				<input type="search" name="keyword" th:value="${keyword}" class="form-control"  required>
				&nbsp;
				<input type="submit" value="Tìm kiếm" class="btn btn-primary">
				&nbsp;
				<input type="button" value="Đặt lại" class="btn btn-secondary" onclick="clearFilter()">
			</form>
		</div>
		<div>
			<table class="table table-bordered table-striped table-hover table-responsive-xl ">
				<thead class="thead-dark">
					<tr>
						<th th:replace = "fragments :: column_link('id', 'ID')"/>
						<th>ẢNH</th>
						<th th:replace = "fragments :: column_link('email', 'EMAIL')"/>
						<th th:replace = "fragments :: column_link('firstName', 'HỌ')"/>
						<th th:replace = "fragments :: column_link('lastName', 'TÊN')"/>
						<th> VAI TRÒ</th>
						<th th:replace = "fragments :: column_link('enabled', 'KÍCH HOẠT')"/>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${listUsers}">
						<td>[[${user.id}]]</td>
						<td>
							<span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
							<img th:if="${user.photos != null}" class="rounded" th:src="@{${user.photosImagePath}}" width="60px">
						</td>
						<td>[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.roles}]]</td>
						<td>
							<a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green" 
							th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
							title="Hủy kích hoạt"></a>
							<a th:if="${user.enabled == false}" class="fas fa-circle fa-2x icon-gray" 
							th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
							title="Kích hoạt"></a>
						</td>
						<td>
							<a class="fas fa-edit fa-2x icon-green" th:href="@{'/users/edit/' + ${user.id}}"
							title="Sửa tài khoản này"></a>
							 &nbsp;
							<a class="fas fa-trash fa-2x icon-gray link-delete" 
							th:href="@{'/users/delete/' + ${user.id}}" 
							th:userId="${user.id}"
							title="Xóa tài khoản này"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Hiển thị # [[${startCount}]] tới [[${endCount}]] trên [[${totalItems}]] tổng số</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>Không có bản ghi nào</span>
		</div>
		
		<div th:if="${totalPages > 1}">
			<nav aria-label="Page navigation example">
			  <ul class="pagination justify-content-center">
			  	<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
			  		<a th:replace="fragments :: page_link(1, '<<')"></a>
			  	</li>
			    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
			    	<a th:replace="fragments :: page_link(${currentPage - 1}, '<')"></a>
			    </li>
			    
			    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
			    	<a th:replace="fragments :: page_link(${i}, ${i})"></a>
			    </li>
			    
			    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
			    <a th:replace="fragments :: page_link(${currentPage + 1}, '>')"></a>
			    </li>
			    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
			    <a th:replace="fragments :: page_link(${totalPages}, '>>')"></a>
			    </li>
			  </ul>
			</nav>
		</div>
		
		<div class="modal fade text-center" id="confirmModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modalTitle">Xác nhận xóa</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					
					<div class="modal-body">
						<span id="confirmText">Bạn có chắc muốn xóa tài khoản này ?</span>
					</div>
				
					<div class="modal-footer">
						<a class="btn btn-success" href="" id="yesButton">Có</a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Không</button>
					</div>
			</div>
		</div>
		</div>
		
		&nbsp;&nbsp;
		<div class="text-center">
			<p>Shopme - Hệ thống quản lý - Copyright &copy; 2021</p>
		</div>
		
	</div>
	
<script type="text/javascript">
	$(document).ready(function() {
		$(".link-delete").on("click", function(e){
			e.preventDefault();
			link = $(this);
			userId = link.attr("userId");
			$("#yesButton").attr("href", link.attr("href"));
			$("#confirmText").text("Bạn có chắc muốn xóa tài khoản này ?");
			$("#confirmModal").modal();
		});
	});
	
	function clearFilter() {
		window.location = "[[@{/users}]]";
	}
</script>
</body>
</html>