<div class="modal-header">
	<h4 class="modal-title" id="modalTitle">Hoàn trả đơn hàng</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<div class="modal-body">
	<div th:if="${errorMessage != null}" class="alert alert-danger text-center">
		[[errorMessage]]
	</div>
	
	<form th:action="@{/shipping/refused}" method = "post">
		<input type="hidden" name="orderId" th:value="${order.id}">
	
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Lý do hoàn trả:</label>
			<div class="col-sm-7" slot="10">
				<textarea name="refusedNote" class="form-control" minlength="3" maxlength="256" placeholder="Ghi rõ lý do hoàn trả" required></textarea>
			</div>
		</div>
		
		<th:block th:if="${order.isExport == true}">
		<div class="form-group row">
			<div class="col-sm-4 mt-2">
				<input type="checkbox" th:checked="${order.isExport}" onclick="return false;">
			</div>
			<label class="col-sm-7 col-form-label">Xác nhận hoàn trả [[${order.totalQuantity}]] sản phẩm</label>
		</div>
		</th:block>
		
		<div class="form-group row">
		<div class="col-sm-1">
			<input type="submit" value="Lưu" class="btn btn-primary"/>
		</div>
	</div>
	</form>
</div>
