<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Giao hàng - Shopme Admin', 'none')"></head>
<body>
	<div class="container-fluid">
		<!-- thanh công cụ -->
		<div th:replace="navigation :: menu"></div>
		&nbsp;
		<div>
			<h4 class="text-title">Quản lý giao hàng</h4>&nbsp;
		</div>
		
		<div th:replace="fragments :: search_form_and_message('/shipping/page/1')"></div>
		
		<div class="full-details">
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th>STT</th>
						<th>ID</th>
						<th th:replace = "fragments :: column_link('/shipping', 'customerName', 'KHÁCH HÀNG', 'none')"/>
						<th th:replace = "fragments :: column_link('/shipping', 'orderTime', 'NGÀY ĐẶT', 'none')"/>
						<th th:replace = "fragments :: column_link('/shipping', 'total', 'GIÁ TRỊ', 'none')"/>
						<th th:replace = "fragments :: column_link('/shipping', 'status', 'TRẠNG THÁI', 'none')"/>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order, state : ${listOrders}">
						<td>[[${state.count}]]</td>
						<td>
						[[${order.id}]]
						</td>
						<td>[[${order.customerName}]]</td>
						<td th:text="${#dates.format(order.orderTime, 'dd/MM/yyyy HH:mm:ss')}"></td>
						<td>[[${#numbers.formatDecimal(order.total, 0, 'POINT', 0, 'POINT')}]] ₫</td>
						<td>
							<span th:if="${order.status == 'Đang lấy hàng'}" class="badge badge-secondary badge-pill">[[${order.status}]]</span>
							<span th:if="${order.status == 'Đang giao'}" class="badge badge-primary badge-pill">[[${order.status}]]</span>
							<span th:if="${order.status == 'Hoàn trả / từ chối'}" class="badge badge-danger badge-pill">[[${order.status}]]</span>
							<span th:if="${order.status == 'Hoàn thành / đã giao'}" class="badge badge-success badge-pill">[[${order.status}]]</span>
						</td>
						<td width="200px">
							<a class="fas fa-file-alt fa-2x icon-green link-detail"
								th:href="@{'/orders/detail/' + ${order.id}}"
								title="Xem chi tiết đơn hàng"></a>
							&nbsp;
							<a class="fas fa-truck fa-2x icon-gray"
								th:href="@{'/order/shipping/' + ${order.id}}"
								title="Đi giao đơn hàng"></a>
								&nbsp;
							<a class="fas fa-check-circle fa-2x icon-gray"
								th:href="@{'/order/complete/' + ${order.id}}"
								title="Đã giao đơn hàng"></a>
								&nbsp;
							<a class="fas fa-window-close fa-2x icon-gray"
								th:href="@{'/order/refused/' + ${order.id}}"
								title="Hủy đơn hàng"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		&nbsp;&nbsp;
		<div th:replace="fragments :: pagination('/shipping', 'đơn hàng')"></div>
		
		<div th:replace="modal_fragments :: confirm_modal"></div>
		
		<div class="modal fade" id="detailModal">
			<div class="modal-dialog modal-xl">
				<div class="modal-content"></div>
			</div>
		</div>
		
	&nbsp;&nbsp;
	<div th:replace="fragments :: footer"></div>
	
</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/shipping}]]";
	
	$(".link-detail").on("click", function(e) {
		e.preventDefault();
		linkDetailURL = $(this).attr("href");
		$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
	});
	
</script>
</body>
</html>