<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')"></head>
<body>
	<div class="container-fluid">
			<!-- thanh công cụ -->
		<div th:replace="navigation :: menu"></div>
		&nbsp;
		
		<div class="text-title">
			<h4>Đơn hàng | [[${pageTitle}]]</h4>&nbsp;&nbsp;
		</div>
		
		<th:block th:if="${order.status == 'Chờ xác nhận'}">
		<div class="pr-3 pl-3">
			<a class="btn btn-primary link-accept" th:href="@{'/order/accept/' + ${order.id}}">XÁC NHẬN ĐƠN HÀNG</a>
			<a class="btn btn-danger float-right link-reject" th:href="@{'/order/reject/' + ${order.id}}"><i class="fas fa-times"></i> HỦY ĐƠN HÀNG</a>
		</div>
		</th:block>
		
		<th:block th:if="${order.status == 'Đã xác nhận'}">
		<div class="pl-3">
			<i class="fas fa-check-circle icon-green"> </i> <span class="text-secondary ml-1">Đơn hàng đã được xác nhận</span>
		</div>
		</th:block>
		
		<th:block th:if="${order.status == 'Hoàn trả / từ chối'}">
		<div class="pl-3">
			<i class="fas fa-times-circle icon-red"></i> <span class="text-secondary ml-1">Đơn hàng đã bị hủy</span>
		</div>
		</th:block>
		
		<th:block th:if="${order.isExport == true}">
		<div class="pl-3">
			<i class="fas fa-check-circle icon-green"></i> <span class="text-secondary ml-1">Đã xuất từ kho [[${order.totalQuantity}]] sản phẩm</span>
		</div>
		</th:block>
		
		<th:block th:if="${order.status == 'Đang lấy hàng'}">
		<div class="pl-3">
			<i class="fas fa-truck icon-gray"></i> <span class="text-secondary">Đã chuyển giao hàng</span>
		</div>
		</th:block>
		
		<th:block th:if="${order.status == 'Đã xác nhận'}">
		<div class="p-3">
			<form th:action="@{'/order/delivery/' + ${order.id}}">
			<button class="btn btn-danger" type="submit"><i class="fas fa-shipping-fast"></i> CHUYỂN GIAO HÀNG</button>
			<br><br>
				<input type="checkbox" name="quantityExport" checked="checked"> Lựa chọn xuất kho cho đơn hàng này
			</form>
		</div>
		</th:block>
		
			<div class="pr-3 pl-3">
			<hr>
			
			<h6 class="text-success">Chi tiết đơn hàng:</h6>
			<div th:if="${message != null}" class="alert alert-success text-center">
				[[${message}]]
			</div>
		
			<div th:if="${errorMessage != null}" class="alert alert-danger text-center">
				[[${errorMessage}]]
			</div>
			<th:block th:each="warningAlert : ${warningList}">
			<div class="alert alert-warning">
   			 	<strong>Cảnh báo ! </strong>[[${warningAlert}]].
   			 	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
  				</button>
  			</div>
  			</th:block>
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th>STT</th>
						<th width="500px">TÊN SẢN PHẨM</th>
						<th>GIÁ</th>
						<th class="text-center" width="250px">SỐ LƯỢNG</th>
						<th>THÀNH TIỀN</th>
						<th th:if="${order.status == 'Chờ xác nhận'}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item, state : ${detailsSorted}">
						<td>[[${state.count}]]</td>
						<td>
							<a th:href="@{'/products/edit/' + ${item.product.id}}"
								th:title="${item.product.name}">[[${item.product.name}]]</a>
							<br>
							<small>Kho: [[${item.product.quantityInStock}]]</small>
						</td>
						<td>
						[[${#numbers.formatDecimal(item.price, 0, 'POINT', 0, 'POINT')}]] ₫</td>
						<td class="text-center">
							<th:block th:if="${order.status == 'Chờ xác nhận'}">
							<nav>
							<ul class="pagination pl-5">

								<li class="page-item">
									<a class="page-link minusButton" th:href="@{'/orders/minus_one/' + ${order.id} + '/' + ${item.id}}"><i class="fas fa-minus"></i></a>
								</li>
								<li class="page-item">
									<input type="text" th:value="${item.quantity}" class="form-control text-center"
										style="max-width: 55px" onkeydown="return false;"
										th:id="'quantity' + ${item.product.id}"/>
								</li>
								<li class="page-item">
									<a class="page-link plusButton" th:href="@{'/orders/plus_one/' + ${order.id} + '/' + ${item.id}}"><i class="fas fa-plus"></i></a>
								</li>
							</ul>
							</nav>
							</th:block>
							<span th:unless="${order.status == 'Chờ xác nhận'}">[[${item.quantity}]]</span>
						</td>
						<td><b>[[${#numbers.formatDecimal(item.subTotal, 0, 'POINT', 0, 'POINT')}]]  ₫</b></td>
						<td th:if="${order.status == 'Chờ xác nhận'}">
							<div th:replace="fragments :: delete('mục này', ${item.id}, '/orders/remove_item/' + ${order.id} + '/' + ${item.id}, true)"></div>
						</td>
					</tr>
					<tr>
						<td colspan="3" align="right">
						<b><i>PHÍ GIAO HÀNG:</i></b>
						<td></td>
						<td><b>[[${#numbers.formatDecimal(order.shippingCost, 0, 'POINT', 0, 'POINT')}]]  ₫</b></td>
						<th:block th:if="${order.status == 'Chờ xác nhận'}">
						<td>
							<a class="fas fa-edit fa-2x icon-green link-shippingCost" th:href="@{'/orders/edit_shippingCost/' + ${order.id}}"
								title="Sửa phí giao hàng">
							</a>
						</td>
						</th:block>
							
					</tr>
					<tr>
						<td colspan="3" align="right">
						<b><i>GIẢM GIÁ CHO ĐƠN HÀNG:</i></b>
						<td></td>
						<td><b>[[${#numbers.formatDecimal(order.discountTotal, 0, 'POINT', 0, 'POINT')}]]  ₫</b></td>
						<th:block th:if="${order.status == 'Chờ xác nhận'}">
						<td>
							<a class="fas fa-edit fa-2x icon-green link-discountTotal" th:href="@{'/orders/edit_discountTotal/' + ${order.id}}"
								title="Sửa giảm giá cho đơn hàng">
							</a>
						</td>
						</th:block>
					</tr>
					<tr>
						<td colspan="3" align="right">
						<b><i>TỔNG:</i></b>
						<td class="text-center"><b>[[${order.TotalQuantity}]]</b></td>
						<td><b>[[${#numbers.formatDecimal(order.total, 0, 'POINT', 0, 'POINT')}]]  ₫</b></td>
					</tr>
				</tbody>
			</table>
			
			<th:block th:if="${order.discountNote} != null">
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Lý do giảm giá (NV ghi): </label>
					<label class="col-sm-4 col-form-label">
					[[${order.discountNote}]]
					</label>
				</div>
			</th:block>
			
			<th:block th:if="${order.status == 'Chờ xác nhận'}">
			<a class="btn btn-primary link-product-modal" th:href="@{'/orders/add_item/' + ${order.id}}">Thêm mục khác</a>
			</th:block>
			
			<hr>
			<h6 class="text-success">Thông tin giao hàng:</h6>
			<form th:action="@{'/order/updateInfoCustomer/' + ${order.id}}" method = "post" style=" margin: 0 auto"
				th:object="${order}">

				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Tên khách hàng: </label>
					<label class="col-sm-4 col-form-label">
					[[${order.customerName}]]
					</label>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Ngày đặt hàng: </label>
					<label class="col-sm-2 col-form-label" th:text="${#dates.format(order.orderTime, 'dd/MM/yyyy HH:mm:ss')}">
					</label>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-2 col-form-label required">Số điện thoại:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" th:field="*{phone}" required minlength="10" maxlength="15" placeholder="Nhập số điện thoại">
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-2 col-form-label required">E-mail:</label>
					<div class="col-sm-3">
						<input type="email" class="form-control" th:field="*{email}" required minlength="8" maxlength="128" placeholder="Nhập email">
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-2 col-form-label required">Giao đến địa chỉ:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" th:field="*{address}" required minlength="2" maxlength="500" placeholder="Nhập email">
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Ghi chú từ khách hàng:</label>
					<div class="col-sm-4">
						<textarea th:field="*{note}" class="form-control" maxlength="500"></textarea>
					</div>
				</div>

			<div>
				<input type="submit" value="Lưu" class="btn btn-primary">
				<input type="button" value="Hủy bỏ" class="btn btn-secondary" id="buttonCancel">
			</div>
		</form>
		
		<hr>
		<h6 class="text-success">Lịch sử đơn hàng</h6>
		<br>
		<div th:each="item : ${tracksSorted}">
		<i class="fa fa-circle icon-navy"></i>
		<b th:text="${#dates.format(item.time, 'dd/MM/yyyy HH:mm:ss')}"></b> -
		<span class="text-primary">[[${item.user.email}]]</span> :
		<span class="text-secondary text-danger">[[${item.status}]]</span>
		<br><br>
		</div>
		
		</div>
		
		<div class="modal fade" id="productModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content"></div>
		</div>
		</div>
		
		<div class="modal fade" id="shippingCost">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content"></div>
		</div>
		</div>
		
		<div class="modal fade" id="discountTotal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content"></div>
		</div>
		</div>

		<div th:replace="modal_fragments :: modal_dialog"></div>
		<div th:replace="modal_fragments :: confirm_modal"></div>
		
		&nbsp;&nbsp;
		<div th:replace="fragments :: footer"></div>
		
	</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/orders}]]";
	
	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			showDeleteConfirmModal($(this), 'mục');
		});
		
		$(".link-product-modal").on("click", function(e) {
			e.preventDefault();
			linkDetailURL = $(this).attr("href");
			$("#productModal").modal("show").find(".modal-content").load(linkDetailURL);
		});
		
		$(".link-shippingCost").on("click", function(e) {
			e.preventDefault();
			linkDetailURL = $(this).attr("href");
			$("#shippingCost").modal("show").find(".modal-content").load(linkDetailURL);
		});
		
		$(".link-discountTotal").on("click", function(e) {
			e.preventDefault();
			linkDetailURL = $(this).attr("href");
			$("#discountTotal").modal("show").find(".modal-content").load(linkDetailURL);
		});
		
		$(".link-accept").on("click", function(e) {
			e.preventDefault();
			showConfirmModal($(this), 'xác nhận đơn hàng');
		});
		
		$(".link-reject").on("click", function(e) {
			e.preventDefault();
			showConfirmModal($(this), 'hủy đơn hàng');
		});
	
	});
		
</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>