<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Đơn hàng - Shopme Admin', 'none')"></head>
<body>
	<div class="container-fluid">
		<!-- thanh công cụ -->
		<div th:replace="navigation :: menu"></div>
		&nbsp;
		<div>
			<h4 class="text-title">Quản lý đơn hàng</h4>&nbsp;
			<a th:href="@{/users/new}" class="fas fa-plus fa-2x icon-gray mr-2" title="Thêm mới tài khoản"></a>
			<a th:href="@{/users/export/csv}" class="fas fa-file-csv fa-2x icon-gray mr-2" title="Xuất file CSV"></a>
			<a th:href="@{/users/export/excel}" class="fas fa-file-excel fa-2x icon-gray mr-2" title="Xuất file Excel"></a>
			<a th:href="@{/users/export/pdf}" class="fas fa-file-pdf fa-2x icon-gray mr-2" title="Xuất file PDF"></a>
		</div>
		
		<div th:replace="fragments :: search_form_and_message('/orders/page/1')"></div>
		
		<div class="full-details">
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th>STT</th>
						<th>ID</th>
						<th th:replace = "fragments :: column_link('/orders', 'customerName', 'KHÁCH HÀNG', 'none')"/>
						<th th:replace = "fragments :: column_link('/orders', 'orderTime', 'NGÀY ĐẶT', 'none')"/>
						<th th:replace = "fragments :: column_link('/orders', 'total', 'GIÁ TRỊ', 'none')"/>
						<th th:replace = "fragments :: column_link('/orders', 'status', 'TRẠNG THÁI', 'none')"/>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order, state : ${listOrders}">
						<td>[[${state.count}]]</td>
						<td>
						[[${order.id}]]
						<th:block th:if="${order.status == 'Đã xác nhận'}">
							<i class="fas fa-check icon-green ml-2"></i>
						</th:block>
						</td>
						<td>[[${order.customerName}]]</td>
						<td th:text="${#dates.format(order.orderTime, 'dd/MM/yyyy HH:mm:ss')}"></td>
						<td>[[${#numbers.formatDecimal(order.total, 0, 'POINT', 0, 'POINT')}]] ₫</td>
						<td>
							<span th:if="${order.status == 'Chờ xác nhận'}" class="badge badge-warning badge-pill">[[${order.status}]]</span>
							<span th:if="${order.status == 'Đã xác nhận'}" class="badge badge-info badge-pill">[[${order.status}]]</span>
							<span th:if="${order.status == 'Đang lấy hàng'}" class="badge badge-secondary badge-pill">[[${order.status}]]</span>
							<span th:if="${order.status == 'Đang giao'}" class="badge badge-primary badge-pill">[[${order.status}]]</span>
							<span th:if="${order.status == 'Hoàn trả / từ chối'}" class="badge badge-danger badge-pill">[[${order.status}]]</span>
							<span th:if="${order.status == 'Hoàn thành / đã giao'}" class="badge badge-success badge-pill">[[${order.status}]]</span>
						</td>
						<td>
							<a class="fas fa-file-alt fa-2x icon-green link-detail"
								th:href="@{'/orders/detail/' + ${order.id}}"
								title="Xem chi tiết đơn hàng"></a>
							&nbsp;
							<div th:replace="fragments :: edit('đơn hàng này', '/orders/edit/' + ${order.id})"></div>
							&nbsp;&nbsp;
							<div th:replace="fragments :: delete('đơn hàng này', ${order.id}, '/orders/delete/' + ${order.id}, true)"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		&nbsp;&nbsp;
		<div th:replace="fragments :: pagination('/orders', 'đơn hàng')"></div>
		
		<div th:replace="modal_fragments :: confirm_modal"></div>
		
		<div class="modal fade" id="detailModal">
			<div class="modal-dialog modal-xl">
				<div class="modal-content"></div>
			</div>
		</div>
		
	&nbsp;&nbsp;
	<div th:replace="fragments :: footer"></div>
	
</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/orders}]]";
	
	$(".link-detail").on("click", function(e) {
		e.preventDefault();
		linkDetailURL = $(this).attr("href");
		$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
	});

	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			showDeleteConfirmModal($(this), 'đơn hàng');
		});
	});
	
</script>
</body>
</html>