<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Brands - Shopme Admin', 'none')"></head>
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		&nbsp;
		<div>
			<h4 class="ml-2">Manage Brands</h4>&nbsp;
			<a th:href="@{/brands/new}" class="fas fa-plus fa-2x icon-gray mr-2" title="New brand"></a>
		</div>
		
		<div th:replace="fragments :: search_form_and_message('/brands/page/1')"></div>
		
		<div class="full-details">
			<table class="table table-bordered table-striped table-hover table-responsive-xs ">
				<thead class="thead-dark">
					<tr>
						<th>#</th>
						<th class="hideable-column">Brand ID</th>
						<th style="text-align: center">Brand Logo</th>
						<th th:replace = "fragments :: column_link('/brands', 'name', 'Brand Name', 'none')"/>
						<th>Categories</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="brand, state : ${listBrands}">
						<td>[[${startCount + state.index}]]</td>
						<td class="hideable-column">[[${brand.id}]]</td>
						<td>
							<div align="center">
								<img th:src="@{${brand.logoPath}}" class="rounded" style="width: 80px" height="40px">
							</div>
						</td>
						<td>[[${brand.name}]]</td>
						<td>
							<th:block th:each="cat : ${brand.categories}">
								<span class="badge badge-secondary" th:text=${cat.name}></span>
							</th:block>
						</td>
						
						<td>
							<div th:replace="fragments :: edit('brand', '/brands/edit/' + ${brand.id})"></div>
							&nbsp; 
							<div th:replace="fragments :: delete('brand', ${brand.id}, '/brands/delete/' + ${brand.id}, true)"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="less-details">
			<div th:each="brand : ${listBrands}" class="row m-1">
				<div class="col-6">
					<img th:src="@{${brand.logoPath}}" class="rounded" style="width: 100px" height="40px"/>			
				</div>
				<div class="col-6">
					<div>[[${brand.name}]]</div>
					<div class="mt-2">
						<div th:replace="fragments :: edit('brand', '/brands/edit/' + ${brand.id})"></div>
							&nbsp; 
						<div th:replace="fragments :: delete('brand', ${brand.id}, '/brands/delete/' + ${brand.id}, true)"></div>
					</div>
				</div>
				<div>&nbsp;</div>
			</div>	
		</div>	
		&nbsp;&nbsp;
		
		<div th:replace="fragments :: pagination('/brands', 'brand')"></div>
		
		<div th:replace="modal_fragments :: confirm_modal"></div>
		
	&nbsp;&nbsp;
	<div th:replace="fragments :: footer"></div>
	
</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/brands}]]";

	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			showDeleteConfirmModal($(this), 'brand');
		});
	});
	
</script>
</body>
</html>
